body {
	font-family: 'Bitter', serif;
	font-size: 13pt;
	background-color: white;
	margin: 1%;
	color: #282828;
	padding-bottom: 60px;
}
img#logo {
	width: 170px;
	padding-top: 2%;
}
h1 {
	font-variant: small-caps;
	font-size: 500%;
	width: 100%;
	text-align: center;
	margin: 0px;
	color: #0eab96;
}
hr {
	border: solid 2px #e88915;
	width: 70%;
}
a {
	text-decoration: none;
	font-weight: bold;
	color: #279dc2;
	transition: color 0.1s;
}
a:hover { color: #29becf; }
a:visited { color: #3e115c; }
div#container {
	padding-left: 15%;
	padding-right: 15%;
}
img.display {
	display: inline-block;
	margin: 2px;
	border: 1px solid grey;
}
div.img-container {
	width: 100%;
	display: inline-block;
	overflow: wrap;
}
img.display#one { height: 260px; }
div.img-container#one { height: 262px; }
img.display#two { height: 330px; }
div.img-container#two { height: 332px; }
img#profile-image {
	height: auto;
	width: 150px;
	float: left;
	margin-right: 18px;
	margin-left: 80px;
	border: 1px solid grey;
}
div#profile-words {
	width: 80%;
}
p.footer {
	font-variant: small-caps;
	font-style: italic;
	color: grey;
	clear: both;
}

/* mobile */
@media only screen and (max-device-width: 700px) {
	body { font-size: 30pt; }
	img#logo {
		width: 30%;
		padding-top: 6%;
	}
	h1 { font-size: 400%; }
	hr { width: 80%; }
	div#container {
		padding-left: 8%;
		padding-right: 8%;
	}
	img.display {
		width: 96%;
		display: block;
		margin-bottom: 800px;
	}
	img.display#one { height: auto; }
	img.display#two { height: auto; }
	div.img-container {
		height: 600px;
		width: 100%;
		overflow: hidden;
		display: block;
	}
	div.img-container#one { height: 600px; }
	div.img-container#two { height: 600px; }
	div#profile-words { width: auto; }
	img#profile-image {
		width: 80%;
		float: none;
		margin-right: 0px;
		margin-left: 0px;
	}
}
