body {
	font-family: 'Bitter', serif;
	font-size: 12pt;
	background-color: white;
	margin: 1%;
	color: #282828;
}
h1 {
	font-variant: small-caps;
	font-size: 400%;
	padding-top: 2%;
	width: 100%;
	text-align: center;
	margin: 0px;
	color: #0eab96;
}
hr {
	border: solid 1px #e88915;
	width: 50%;
}
a {
	text-decoration: none;
	font-weight: bold;
	color: #279dc2;
	transition: color 0.1s;
}
a:hover {
	color: #29becf;
}
div#container {
	padding-left: 15%;
	padding-right: 15%;
}
img.display {
	border-width: 1px;
	border-style: solid;
	display: inline-block;
	height: 180px;
	border-radius: 4px;
}
div.img-container {
	width: 100%;
	height: 182px;
	display: inline-block;
}
/* for the 'A branch of the Heartwood Collective' bit
p.footer {
	font-variant: small-caps;
	font-style: italic;
	color: grey;
}*/

@media only screen and (max-device-width: 700px) {
	body { font-size: 30pt; }
	hr { width: 80%; }
	div#container {
		padding-left: 8%;
		padding-right: 8%;
	}
	img.display { height: 300px; }
	div.img-container { height: 152px; }
}
