body {
	font-family: 'Bitter', serif;
	font-size: 12pt;
	background-color: white;
	margin: 1%;
	color: #282828;
}
h1 {
	font-variant: small-caps;
	font-size: 500%;
	padding-top: 2%;
	width: 100%;
	text-align: center;
	margin: 0px;
	color: #0eab96;
}
hr {
	border: solid 2px #e88915;
	width: 70%;
}
a {
	text-decoration: none;
	font-weight: bold;
	color: #279dc2;
	transition: color 0.1s;
}
a:hover { color: #29becf; }
a:visited { color: #3e115c; }
div#container {
	padding-left: 15%;
	padding-right: 15%;
}
img.display {
	border-width: 1px;
	border-style: solid;
	display: inline-block;
	height: 300px;
	border-radius: 4px;
}
div.img-container {
	width: 100%;
	height: 302px;
	display: inline-block;
	overflow: wrap;
}
/* for the 'A branch of the Heartwood Collective' bit
p.footer {
	font-variant: small-caps;
	font-style: italic;
	color: grey;
}*/

@media only screen and (max-device-width: 700px) {
	body { font-size: 30pt; }
	hr { width: 80%; }
	div#container {
		padding-left: 8%;
		padding-right: 8%;
	}
	img.display {
		height: auto;
		width: 96%;
		display: block;
		margin-bottom: 800px;
	}
	div.img-container {
		height: 380px;
		width: 100%;
		overflow: hidden;
	}
}
